body {
  margin: 0;
  padding: 10vw 0 0 0;
  font-size: 10vw;
}

body * {
  box-sizing: border-box;
}

.hide {
  opacity: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading div {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(.5turn)
  }
}

@property --num1 {
  syntax: '<integer>';
  initial-value: 300;
  inherits: true;
}

@property --num2 {
  syntax: '<integer>';
  initial-value: 2000;
  inherits: true;
}

#fee {
  top: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

#fee span:nth-child(1)::after {
  transition: --num1 1s;
  counter-reset: num1 var(--num1);
  content: counter(num1);
}

#fee span:nth-child(3)::after {
  transition: --num2 1s;
  counter-reset: num2 var(--num2);
  content: counter(num2);
}

#size span {
  display: block;
  padding: 5vw;
  transition: all 1s;
  text-indent: 20vw;
}

#size span::before {
  display: block;
  width: 100%;
}

#size span:nth-child(1)::before {
  content: '厚さ3cm以内';
  background: url('./nekopos.svg') no-repeat;
  background-size: contain;
}

#size span:nth-child(2)::before {
  content: '厚さ7cm以内';
  background: url('./compact.svg') no-repeat;
  background-size: contain;
}

#size span:nth-child(3)::before {
  content: '60~170サイズ';
  background: url('./pack.svg') no-repeat;
  background-size: contain;
}

.step1 #size span,
.step2 #size span {
  font-size: 8vw;
  text-indent: 13vw;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  background: #eee;
}

.step1.size1 #size span:nth-child(1),
.step1.size2 #size span:nth-child(2),
.step1.size3 #size span:nth-child(3),
.step2.size1 #size span:nth-child(1),
.step2.size2 #size span:nth-child(2),
.step2.size3 #size span:nth-child(3) {
  max-height: 100vh;
}

#hint1 {
  overflow: hidden;
  max-height: 0;
  transition: all 1s;
  margin: 5vw;
}

.step1 #hint1 {
  max-height: 100vh;
  background: #ffe;
}